<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">

    <property name="LOG_PATTERN"
              value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

    <property name="LOG_PATH" value="logs/portal.log" />

    <property name="FILE_NAME_PATTERN" value="logs/portal.%d{yyyy-MM-dd}.%i.log" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="rollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${FILE_NAME_PATTERN}</fileNamePattern>
            <!-- keep 15 days' worth of history -->
            <maxHistory>15</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 日志文件的最大大小 -->
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- rest template logger-->
    <logger name="org.springframework.web.client.RestTemplate" level="DEBUG" />
    <logger name="org.springframework" level="DEBUG" />

    <!-- log4j jdbc-->
    <logger name="jdbc.sqltiming" level="DEBUG" />
    <logger name="log4j.logger.java.sql" level="DEBUG" />
    <logger name="org.mybatis" level="DEBUG" />

    <!-- 日志输出级别 -->
    <root leve="DEBUG">
        <appender-ref ref="console" />
        <appender-ref ref="rollingFile" />
    </root>

</configuration>