<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muses.taoshop.item.mapper.ItemMapper" >

    <sql id="BaseColumnList" >
        id ,
        sku_code ,
        sku_name ,
        price ,
        stock ,
        last_modify_time as lastModifyTime,
        create_time as createTime
    </sql>
    <sql id="OrderBy">
        ORDER BY price
    </sql>
    <!-- 在门户网站列出商品粗略信息-->
    <select id="listItemPortal" resultType="ItemPortal">
        SELECT
          spu.item_name AS itemName,
          sku.price AS mPrice
        FROM
          item_spu spu
          LEFT JOIN item_sku sku
            ON spu.id = sku.spu_id
        GROUP BY sku.spu_id
    </select>
</mapper>