<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muses.taoshop.item.mapper.ItemMapper" >

    <sql id="BaseColumnList" >
        id ,
        sku_code ,
        sku_name ,
        price ,
        stock ,
        last_modify_time as lastModifyTime,
        create_time as createTime
    </sql>
    <sql id="OrderBy">
        ORDER BY price
    </sql>

    <!-- 在门户网站列出商品粗略信息-->
    <select id="listItemPortal" resultType="ItemPortal">
        SELECT
          spu.id AS spuId,
          spu.item_name AS itemName,
          sku.price AS mPrice,
          sku.img_path AS imgPath
        FROM
          item_spu spu
          LEFT JOIN
            (SELECT
              s.price,
              s.spu_id,
              s.img_path
            FROM
              item_sku s
            GROUP BY s.spu_id) sku
            ON spu.id = sku.spu_id
    </select>

    <select id="getItemDetail" resultType="ItemDetail">
        SELECT
          itb.brand_name AS brandName,
          spu.item_name AS itemName,
          sku.price,
          sku.promotion_price AS promotionPrice
        FROM
          item_spu spu
          RIGHT JOIN item_brand itb
            ON itb.id = spu.brand_id
          LEFT JOIN
            (SELECT
              s.price,
              s.promotion_price,
              s.spu_id
            FROM
              item_sku s
            GROUP BY s.spu_id) sku
            ON sku.spu_id = spu.id
        <where>
            spu.id = #{spuId}
        </where>
    </select>
</mapper>