<footer class="footer">
    <div class="layout clearfix">
        <!--footService-->
        <div class="footer-service">
            <dl>
                <dt><em class="icon-aq"></em>购物指南</dt>
                <dd><a href="#">咨询与投诉</a></dd>
            </dl>
            <dl>
                <dt><em class="icon-service"></em>售后服务</dt>
                <dd><a href="#">七天包退</a></dd>
                <dd><a href="#">十五天包换</a></dd>
                <dd><a href="#">手机维修咨询</a></dd>
            </dl>
            <dl>
                <dt><em class="icon-pay"></em>支付方式</dt>
                <dd><a href="#">网上支付</a></dd>
            </dl>
        </div>
        <!--//footService-->
        <!--在线咨询-->
        <ul class="online">
            <li class="line1"><a href="#"></a></li>
            <li class="line2"><a href="#"></a></li>
            <li class="line3"><a href="#"></a></li>
            <li class="line4"><a href="#"></a></li>
            <li class="line5"><a href="#"></a></li>
            <li class="line6"><a href="#"></a></li>
        </ul>
        <!--在线咨询-->
    </div>
    <!--copyright-->
    <div class="footer-copyright">
        <p class="copyright">版权所有 ©2017 </p>
        <s class="cr-icon"></s> </div>
    <!--//copyright-->
</footer>