<div class="headerNav">
    <div class="layout">
        <dl class="all-brands">
            <dt class="all-brands-head">
                <a href="#">全部商品分类</a>
            </dt>
            <dd class="all-brands-list" style="display:none;">
                <div class="all-brands-item">
                    <h3>合约购机<i>NEW</i></h3>
                    <p>
                        <a href="#">三星</a>
                        <a href="#">Iphone</a>
                        <a href="#">小米</a>
                    </p>
                    <a href="#" class="more">更多</a>
                </div>
            </dd>
        </dl>
        <script>
            <!--商品分类显示隐藏-->
            $(function(){
                $(".all-brands").hover(
                    function(){
                        $(this).find(".all-brands-list").show();
                    },function(){
                        $(this).find(".all-brands-list").hide();
                    });
            });
        </script>
        <div class="headerNav-main clearfix">
            <!--headerNav-nav-->
            <nav class="headerNav-nav">
                <ul class="clearfix">
                    <li><a href="#" class="selected">首页</a></li>
                    <li><a href="#">手机汇</a></li>
                    <li><a href="#">聚优惠</a></li>
                    <li><a href="#">商业街</a></li>
                </ul>
            </nav>
            <!--//headerNav-nav-->
        </div>
    </div>
</div>