<div class="headerNav" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="layout">
        <dl class="all-brands">
            <dt class="all-brands-head"> <a href="#">全部商品分类</a> </dt>
            <dd class="all-brands-list">
                <div class="wrap" th:each="c : ${categories}">
                    <div class="all-sort-list">
                        <div class="item bo">
                            <h3>
                                <a href="" th:text="${c.categoryName}"></a></h3>
                            <div class="item-list clearfix">
                                <div class="close">x</div>
                                <div class="subitem" th:each="s: ${c.subCategorys}">
                                    <dl class="fore1">
                                        <dt th:text="${s.categoryName}"><a th:href="@{/portal/category/toCategoryList.do}"></a></dt>
                                        <dd>
                                            <em th:each="ss : ${s.subCategorys} "><a th:href="@{/portal/category/toCategoryList.do}" th:text="${ss.categoryName}"></a></em>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </dd>
            <script type="text/javascript">
                $('.all-sort-list > .item').hover(function(){
                    $(this).addClass('hover');
                    $(this).children('.item-list').css('display','block');
                },function(){
                    $(this).removeClass('hover');
                    $(this).children('.item-list').css('display','none');
                });

                $('.item > .item-list > .close').click(function(){
                    $(this).parent().parent().removeClass('hover');
                    $(this).parent().hide();
                });
            </script>
        </dl>
        <div class="headerNav-main clearfix">
            <!--headerNav-nav-->
            <nav class="headerNav-nav">
                <ul class="clearfix">
                    <li><a th:href="@{/portal/toIndex.do}" class="selected">首页</a></li>
                    <li><a href="#">手机汇</a></li>
                    <li><a href="#">聚优惠</a></li>
                    <li><a href="#">商业街</a></li>
                </ul>
            </nav>
            <!--//headerNav-nav-->
        </div>
    </div>
</div>