<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muses.taoshop.manager.mapper.SysMenuMapper">

  <select id="listMenu" parameterType="Integer" resultType="Menu">
        SELECT
          m.*
        FROM
          sys_menu m
          LEFT JOIN sys_permission p
            ON p.menuId = m.menuId
        WHERE p.id = #{permissionId}
  </select>

</mapper>