@charset "utf-8";

.cart-step{position:absolute;left:440px;top:40px;}
.cart-step ul{width:723px;padding-top:36px;}
.cart-step li{width:32%;float:left;color:#8b8b8b;text-align:center;}
.cart-step .cart-step-li01{width:29%;}
.cart-step .cart-step-li02{width:38%;}
.cart-step .cart-step-li03{width:27%;}
.cart-step ul{background:url(../images/step-bg.png) no-repeat;}
.cart-step .cart-step01{background-position:0 0;}
.cart-step .cart-step02{background-position:-736px 0;}
.cart-step .cart-step03{background-position:-1473px 0;}

.cart,.orders{width:1200px;margin:25px auto;font-size:14px;}
.cart-table th{border-top:2px solid #ea4621;padding:13px 0;font-size:14px;font-weight:bold;color:#787878;background:#fff7e5;}
.cart-table td,.cart-table th{vertical-align:middle;text-align:center;}
.cart-table .tl{text-align:left;}
.cart-table .goods-price{color:#ef4218;}
.cart-table .per-price,.cart-table .goods-delete,.cart-table .extra-per-price,.cart-table .extra-original-price{color:#919191;}
.cart-table .goods-delete:hover{color:#f30;}
.cart-table .extra-per-price{margin-left:56px;margin-right:15px;}
.cart-table .goods-img{width:53px;height:53px;margin:15px 0;border:1px solid #e6e6e6;}
.cart-table .goods-info,.cart-table .extra-goods-info{text-align:left;}
.cart-table .goods-info{color:#999;font-size:12px;}
.cart-table .goods-name{display:block;margin-bottom:10px;color:#333;font-size:14px;}
.cart-table .extra-td{padding-bottom:25px;color:#787878;}
.cart-table .num-action{padding:1px 4px;border:1px solid #c8c8c8;vertical-align:middle;}
.cart-table .num-action:hover{text-decoration:none;}
.cart-table .num-input{width:34px;height:18px;border:1px solid #999999;text-align:center;}
.cart-other{margin-bottom:15px;}
.cart-other .cart-other-hd{height:30px;text-align:left;background:#f1f1f1;}
.cart-other .cart-other-tit{float:left;padding-left:10px;color:#636363;font:bold 14px/30px "Microsoft Yahei";}
.cart-other .cart-other-action{float:right;width:12px;margin-right:12px;font:18px/30px "Microsoft Yahei";overflow:hidden;}
.cart-other .cart-other-action:hover{color:#333;text-decoration:none;}
.cart-other .cart-other-reset{float:right;border:1px solid #e13131;margin-right:12px;margin-top:4px;width:72px;color:#fff;font:12px/20px "Microsoft Yahei";text-align:center;background:#ef4218;}
.cart-other .cart-other-reset:hover,.cart-other .cart-other-reset:active{color:#fff;background:#e13131;}

.cart-other-bd .number-info{padding:12px 0;font-size:12px;text-align:left;}
.number-info span{margin:0 9px;}
.number-info input{margin-right:5px;}
.number-info .search-number-input{width:106px;height:23px;line-height:23px;padding-left:3px;border:1px solid #b6b6b6;}
.number-info .search-number-btn{width:53px;height:22px;border:1px solid #ef4218;color:#fff;font-size:14px;cursor:pointer;
background:-moz-linear-gradient(top,#ec2e00,#f85601);
background:-webkit-gradient(linear,0% 0%,0% 100%,from(#ec2e00),to(#f85601));
background:-webkit-linear-gradient(top,#ec2e00,#f85601);
background:-o-linear-gradient(top,#ec2e00,#f85601);
background: -ms-linear-gradient(top,#ec2e00, #f85601);
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,startColorstr=#ec2e00,endColorstr=#f85601);
background: linear-gradient(top,#ec2e00, #f85601);}
.number-list,.package-action,.owner-info-forms{position:relative;overflow:hidden;zoom:1;}
.number-list-box{margin-bottom:20px;margin-left:-13px;}
.number-list-table{float:left;width:370px;margin-left:14px;_display:inline;}
.number-list-table,.number-list-table td,.number-list-table th,.package-category-tab,.package-category-tab td,.package-category-tab th{border:1px solid #d3d3d3;text-align:center;line-height:34px;cursor:pointer;}
.number-list-table th{padding:5px;font-weight:normal;background-color:#fbfbfb;}
.number-list-table th,.number-list-table td{line-height:28px;}
.list-cur td{background:#fff6e5;}
.number-list-table .last-four{color:#ef4218;}
.cart-other .confirm-btn{position:absolute;left:50%;top:15px;width:120px;margin-left:-60px;padding:5px 0;font-size:14px;line-height:1.5;}

.package-action{height:3px;padding:15px 0 40px;}
.contract-period{float:left;display:inline-block;*display:inline;*zoom:1;margin-top:18px;padding:4px 16px;text-align:left;color:#fff;background-color:#ef4218;}
.package-category-tab th{font-weight:normal;background:#fbfbfb;}
.package-category-tab th,.package-category-tab td{padding:5px 7px;font-size:12px;line-height:1.5;color:#404040;}
.package-category-tab .list-cur th,.package-category-tab .list-cur td{background:#fff6e5;}
.owner-info-forms p{margin-top:12px;line-height:32px;text-align:left;}
.owner-info-forms .label{display:inline-block;width:90px;padding-right:5px;text-align:right;font-family:simsun;}
.owner-info-forms .required{display:inline-block;margin-right:10px;color:#ef4218;font-weight:normal;}
.owner-info-forms .user-text{width:285px;height:28px;border:1px solid #dfdfdf;padding-left:3px;line-height:28px;}

.cart-settlement{margin-top:30px;border-top:1px solid #d5d5d5;}
.cart-table-all .total-td{border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;line-height:58px;background:#f0f0f0;}
.cart-table-all .total-first-td{border-left:1px solid #dfdfdf;}
.cart-table-all .total-last-td{border-right:1px solid #dfdfdf;}
.cart-table-all .total-price-td{border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;}
.cart-table-all .total-action-td{text-align:left;}
.cart-table-all .all-price{font:18px/58px "Microsoft Yahei";}
.cart-table-all .goods-num,.cart-table-all .all-price .val{margin:0 5px;color:#ef4218;}
.cart-table-all .settlement{display:inline-block;width:110px;font:18px/35px "Microsoft Yahei";border-radius:3px;background:#f30;}
.cart-table-all .settlement:hover{background:#ef4218;}

.cart-other-about{padding-left:10px;text-align:left;}
.cart-other-about h4{color:#909090;font:bold 12px/40px "宋体";}
.cart-other-about p{margin-bottom:6px;color:#909090;font-size:12px;}
.cart-other-about a{color:#ef4218;}
.cart-other-info{margin-left:100px;line-height:30px;font-family:"宋体";color:#636363;}
.cart-other-info span{margin-right:20px;font-size:12px;}
.cart-other-info span em{color:#ef4218;}
.cart-other-info .u-number,.cart-other-info .u-package,.cart-other-info .u-name,.cart-other-info .u-id-card{color:#ef4218;} 

.number-list-page .pages{text-align:center;}
.cart-top-line{border-top:1px solid #d5d5d5;}


/***订单页***/
.bread-crumbs-tit{padding-bottom:20px;color:#333;font:bold 18px/26px "Microsoft Yahei";}
.orders-item-hd{border-bottom:1px solid #e7e7e7;}
.consignee-address,.send-time-category{padding-left:35px;}
.consignee-default-address,.use-new-address,.consignee-new-address{margin-top:15px;padding-left:10px;}
.edit-address{float:right;}
.use-new-address{padding:5px 0 5px 10px;background:#f6f6f6;}
.forms-box p{margin-top:12px;line-height:32px;}
.forms-box .label{display:inline-block;width:90px;padding-right:5px;color:#6b6b6b;text-align:right;font-family:simsun;}
.forms-box .required{display:inline-block;margin-right:4px;color:#ef4218;font-weight:normal;}
.forms-box .user-text{width:200px;height:28px;border:1px solid #dfdfdf;padding-left:3px;line-height:28px;}
.forms-box .user-pwd{width:126px;}
.forms-box .user-code{width:78px;}
.forms-box select{width:75px;margin-right:10px;}
.sava-new-address{border:0 none;padding:8px 32px;color:#fff;font-size:14px;overflow:visible;cursor:pointer;}
.send-time{margin-top:30px;margin-bottom:40px;}
.send-time-item{float:left;border:1px solid #e7e7e7;margin-top:22px;margin-right:18px;padding:15px 40px;cursor:pointer;background:#fbfbfb;}
.send-time-item:hover,.send-time-cur{border:1px solid #ef4218;background:#fff;}
.send-time-item dt{color:#666;font-size:14px;}
.send-time-item dd{color:#9e9e9e;}
.receipt-select{padding:18px 0;}
.receipt-select .note{color:#9e9e9e;font-size:12px;}
.receipt-detail{margin-left:35px;padding:10px 0 10px 22px;font-size:12px;line-height:35px;background:#f6f6f6;}
.receipt-detail span{margin-right:15px;}
.receipt-detail .receipt-category{margin-right:8px;}
.confirm-orders{margin-top:28px;}
.subtotal-price{color:#ef4218;}
.orders-total-table .solid-line-td{border-bottom:1px solid #d5d5d5;line-height:30px;}
.activity .solid-line-td{border-bottom:1px solid #d5d5d5;line-height:30px;}
.orders-total-table .dashed-line-td{border-bottom:1px dashed #d5d5d5;}

tr.activity td{ background:#f0f0f0;}
tr.activity td.spec{ text-align:left;}
.yh-act{ margin:6px 10px 6px 62px; width:57px; height:29px; background:url(../images/login-reg-bg.png) 0 -112px no-repeat; display:inline-block; font:normal 12px/180% Microsoft YaHei; text-align:center; color:#fff; vertical-align:middle;}
.yh-act.spec{ margin-left:0;}
span.yh-info{ vertical-align:middle;}

.orders-total-info,.orders-action{padding:20px 0;text-align:right;line-height:35px;}
.orders-total-des{display:inline-block;width:120px;color:#ef4218;}
.orders-total-des strong{font:bold 20px/50px "宋体";}
.orders-action{background:#f6f6f6;}
.orders-action a{display:inline-block;margin:0 9px;padding:0 28px;font-size:14px;}
.order-about-item{margin:0 5px;color:#999;}
.order-item-price{margin-left:3px;color:#ef4218;}

.orders-tips{border:1px solid #dfdfdf;}
.bg-td{width:240px;vertical-align:middle;background:#fbfbfb;}
.bg-td .pay-way{padding:33px 0 33px 26px;}
.bg-td strong{display:block;color:#666;font-size:14px;}
.bg-td p{color:#7c7c7c;}
.orders-success-icon{display:block;width:100px;height:100px;margin:0 auto;background:url(../images/orders-bg.png) 0 0 no-repeat;}
.orders-failure-icon{display:block;width:100px;height:100px;margin:0 auto;background:url(../images/orders-bg.png) -100px 0 no-repeat;}
.orders-info{padding-left:28px;padding-bottom:26px;line-height:26px;}
.orders-tips-tit{color:#000;font:22px/100px "Microsoft Yahei";}
.payment{margin-top:26px;}
.payment-select{border:1px solid #dfdfdf;border-top:none;margin-bottom:22px;}
.payment-select .line-td{border-bottom:1px solid #dfdfdf;}
.payment-select .payment-td{padding-left:32px;vertical-align:middle;}
.payment-select .alipay input{vertical-align:middle;}
.payment-select .alipay label{display:inline-block;width:175px;margin:13px 0;}
.payment-select .alipay span{display:inline-block;*display:inline;*zoom:1;width:130px;height:43px;overflow:hidden;border:1px solid #ddd;text-align:center;margin-left:5px;vertical-align:middle;}
.payment-select .alipay label:hover span{border-color:#f50;}
.bank-list{padding:20px 0 15px;}
.bank-list-con{height:140px;overflow:hidden;}
.bank-list label{display:inline-block;width:175px;margin:13px 0;}
.bank-list span{display:inline-block;*display:inline;*zoom:1;width:130px;height:35px;overflow:hidden;border:1px solid #ddd;text-align:center;padding-top:8px;margin-left:5px;vertical-align:middle;}
.bank-list label:hover span{border-color:#f50;}
.payment-select .bank-list input{vertical-align:middle;}
.bank-list-action{padding-right:22px;text-align:right;font:14px/30px "宋体";}
.orders-info .payment-price{color:#ef4218;font:bold 22px/30px "宋体";}
.orders-info .other-link a{margin:0 10px;color:#00469d;}

/***热门商品***/
.hot-goods{width:1200px;margin:35px auto 20px;}
.hot-goods-hd{border-bottom:1px solid #d5d5d5;}
.hot-goods-tit,.cart-tit,.orders-item-tit{color:#6b6b6b;font: 18px/36px "Microsoft Yahei";}
.hot-goods-bd .goods{width:185px;margin:30px 27px;float:left;display:inline;}
.hot-goods-bd .goods-name{color:#393636;font: 16px/36px "Microsoft Yahei";}
.hot-goods-bd .goods-des,.hot-goods-bd .goods-des a{color:#868686;}
.hot-goods-bd .goods-des a:hover{color:#f30;}
.hot-goods-bd .goods-price .val{color:#535353;font: 18px/36px "Microsoft Yahei";}
.hot-goods-bd .goods-buy{margin-top:15px;text-align:center;}
.hot-goods-bd .add-cart{border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;}
.hot-goods-bd .add-cart,.hot-goods-bd .add-cart span{display:inline-block;vertical-align:top;}
.add-cart span{margin:0 -1px;_margin:0;padding:3px 10px;border-left:1px solid #e4e4e4;border-right:1px solid #e4e4e4;background:#fafafa;}

.cart-nothing{border-top:2px solid #ea4621;background:url(../images/cart-nothing.jpg) 590px 120px no-repeat;}
.cart-nothing-tips{padding:163px 656px 230px 285px;}
.cart-nothing-tit{padding-bottom:37px;color:#6d6d6d;font:28px/38px "Microsoft Yahei";}
.cart-nothing-tips .shopping-now{padding:10px 35px;}

/***统一按钮***/
.gray-btn{border:1px solid #e3e3e3;border-radius:2px;color:#666;text-align:center;background:#fff;}
.gray-btn:hover,.gray-btn:active{color:#666;background:#f8f8f8;}

.orange-btn{color:#fff;text-align:center;background:#ef4218;}
.orange-btn:hover,.orange-btn:active{color:#fff;background:#ff3300;}

/***购物车遮罩层***/
.other-number-section-relative{ position:relative;}
.car-block-bg{  background:#000;filter:alpha(opacity=30) !important; opacity:0.3; z-index:999; width:1140px; height:185px; position:absolute; left:0; top:0; }
.car-block-bg img{ margin-top:110px;}

.line{ height:1px; border-bottom:1px solid #CCC;}

/*加入购物车成功*/
.success-toCart{ margin:60px auto 10px; width:760px; text-align:center;}
.success-toCart .mb-3em{ width:290px; float:right; display:inline;}
.success-toCart .btn{ font-size:16px; margin-right:10px;}

.success-toCart .tip{ padding-left:70px; width:340px; float:left; display:inline; background:url(../images/login-reg-bg.png) 0 -150px no-repeat; font:normal 26px/180% '微软雅黑'; color:#8cc220; text-align:left;}

/*购物车增加选择宽带20140804*/
.ymall-form.select-wb{ padding:0; overflow:hidden;}
.select-wb p{ padding-left:10px; text-align:left;}
.package-des p.title{ color:#f00;}
.cart-other-reset.wb{ min-width:100px;}
.select-wb p .label{ width:82px;}
.select-wb p textarea{width:278px;line-height:20px;padding:4px;border:1px solid #dfdfdf;font-size:14px; resize:none;}
.select-wb .left{ width:610px; float:left; display:inline;}
.select-wb .right{ width:520px; float:left; display:inline;}
.popbox.wb-con{ padding:30px; width:360px; background:#fff; text-align:center; color:#858585; border:none;}
.popbox .wb-body{ position:relative; z-index:101;}
.popbox .wb-body .close{ width:30px; height:30px; position:absolute; right:-60px; top:-30px; background:#ef4218; text-align:center; line-height:30px; font:normal 20px/30px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; color:#f6b79f; cursor:pointer;}
.popbox .wb-body a{ margin-top:30px; min-width:80px;}