@charset "utf-8";
.header{margin-bottom:20px;}

/* detail */
.product-intro{margin-bottom:10px;}
.product-info-img{float:left;width:488px;}
.img-wrap{width:488px;height:352px;margin-bottom:10px;}
.img-wrap .img-big{width:486px;height:350px;border:1px solid #ccc;}

.spec-lists{position:relative;height:54px;overflow:hidden;}
.bx-prev{position:absolute;top:0;left:-20px;width:17px;outline:0;height:54px;background:url(../images/detail_sprices.png) no-repeat 0 0;cursor:pointer;text-indent:-999999px;}
.bx-next{position:absolute;top:0;right:-23px;width:17px;outline:0;height:54px;background:url(../images/detail_sprices.png) no-repeat -83px 0;cursor:pointer;text-indent:-999999px;}
.bx-prev:hover{background-position:0 -59px;}
.bx-next:hover{background-position:-83px -59px;}
.spec-items{float:left;width:468px;height:54px;padding-left:20px;}
.spec-items .items-in{width:800%;}
.spec-items li{float:left;width:54px;height:54px;display:inline;cursor:pointer;padding:0 17px 0 18px;}
.spec-items li span,.spec_items li a{float:left;width:52px;height:52px;border:1px solid #ccc;}
.spec-items li img{width:52px; height:52px;}
.spec-items li span:hover,.spec_items li a:hover{border-color:#f30;}
.spec-items .selected span,.spec-items .selected span:hover,.spec-items li .zoomThumbActive{border-color:#f30;}
.share-sns{padding-top:20px;}
.share-sns span{float:left;padding-left:10px;color:#666;}
.share-sns a{float:left;width:16px;height:16px;overflow:hidden;margin:0 3px;display:inline;}
.share-sns .collect{width:55px; height:18px; margin-left:40px;}

/*右侧属性*/
.product_property{width:664px;overflow:hidden;padding-left:45px;color:#666;}
.pro_meta ul{width:790px;}
.pro_meta li{padding:11px 0 11px 10px;width:100%;float:left;}
.pro_meta li.border-b{border-bottom:1px dotted #ccc;}
.pro_meta .name{ width:660px; padding-left:0;color:#666;font-size:16px;font-weight:bold;}
.pro_meta .sp_l{float:left;width:70px;font-family:'宋体';}
.pro_meta .action-bate{width:600px;}
.pro_meta .action-bate a{border:1px solid #ddd;padding:6px 11px;_padding-bottom:4px;margin-right:10px;cursor:pointer;position:relative;overflow:hidden;_zoom:1;}
.pro_meta .action-bate a:hover{border-color:#e4393c;color:#333;text-decoration:none;}
.pro_meta .action-bate a.selected{border:2px solid #e4393c;padding:5px 10px;_padding-bottom:3px;}
.pro_meta .action-bate a.selected em{width:13px;height:13px;display:block;position:absolute;right:-2px;bottom:-2px;background:url(../images/detail_sprices.png) no-repeat 0 -266px;}
.pro_meta .tb-rmb-num{color:#e94609;font-size:14px;font-weight:bold;}
.phone_num{padding-top:5px;padding-left:10px;}
.phone_num dt{width:70px;}
.phone_num .tb_stock a{float:left;width:13px;height:13px;line-height:13px;border:1px solid #c9c9c9;background:#fff;text-align:center;overflow:hidden;font-family:Verdana, Geneva, sans-serif;color:#333;}
.phone_num .tb_stock a:hover{text-decoration:none;color:#f60;}
.phone_num .tb_stock input{position:relative;float:left;height:20px;line-height:20px;width:34px;margin:-3px 5px 0 5px;border:1px solid #ccc;color:#333;text-align:center;}
.phone_choosed{padding-top:20px;padding-left:10px;}
.phone_choosed span{color:#333;}
.phone_choosed .add_btn{padding:20px 0 0 0;position:relative;}
.phone_choosed .add_btn .btn{height:40px;line-height:40px;margin-right:25px;padding:0 40px;border-radius:0;font-size:16px;}

/**详情**/
.product-detail{width:950px;}
/*随心配*/
.bundle{border-bottom:1px solid #ccc;}
.bundle .bundle-head{position:relative;height:40px;line-height:40px;border-bottom:1px solid #ccc;font-size:18px;font-family:'微软雅黑';text-indent:10px;}
.bundle .bundle-head a{position:absolute;right:5px;top:0;font-size:14px;color:#e94609;}
.bundle-list{float:left;width:669px;height:170px;border-right:1px solid #ccc;padding:15px 0 25px 41px;}
.bundle-list ul{width:800%;}
.bundle-list .bundle-item{float:left;width:110px;height:170px;overflow:hidden;padding:0 60px 0 35px;display:inline;cursor:pointer;background:url(../images/bundle_addIcon.png) no-repeat right center;word-break:break-all;}
.bundle-item .item-img{text-align:center;}
.bundle-item .item-img,.bundle-item .item-img img{width:110px;height:110px;margin:0 auto;}
.bundle-item .item-info{height:40px;line-height:20px;overflow:hidden;}
.bundle-item .item-info a{color:#666;display:block;}
.bundle-item .item-info a:hover{color:#f30;}
.bundle-item .item-price{line-height:20px;font-weight:bold;color:#ef4e2d;}
.bundle-item .item-price em{font-weight:bold;}
.bundle-item .item-price input{margin-right:4px;}
.bundle .bx-prev{left:-41px;top:50%;margin-top:-34px;width:41px;height:69px;background:url(../images/detail_sprices.png) no-repeat 0 -118px;}
.bundle .bx-next{right:-55px;top:50%;margin-top:-34px;width:41px;height:69px;background:url(../images/detail_sprices.png) no-repeat -59px -118px;}
.bundle .bx-prev:hover{ background-position:0 -192px;}
.bundle .bx-next:hover{ background-position:-59px -192px;}
.bundle-extra{float:left;width:199px;overflow:hidden;padding:30px 10px 0 30px;}
.bundle-extra p{line-height:30px;}
.bundle-extra .extra-price{color:#ef4e2d;}
.bundle-extra .extra-price,.bundle-extra .extra-price em{font-weight:bold;}
.bundle-extra .btn-sku{padding-top:45px;}
.bundle-extra .btn-sku .btn{height:40px;line-height:40px;margin-right:25px;padding:0 40px;border-radius:0;font-size:16px;}
/*商品详情*/
.detail{position:relative;zoom:1;overflow:hidden;}
.detail .btn-sku{width:122px;height:55px;position:absolute;right:20px;top:8px;background:url(../images/btn-sku.png) no-repeat;}
.detail .cut{position:fixed;z-index:100;top:0;left:50%;margin-left:-350px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop));width:950px;height:40px;border:1px solid #ccc;background:#fbfbfb;}
.detail .fixed{position:static;margin-left:0;}
.detail .cut li{width:130px;height:20px;line-height:20px;border-right:1px dotted #d2d2d2;overflow:hidden;margin-top:10px;font-size:14px;font-weight:bold;float:left;text-align:center;cursor:pointer;}
.detail .cut li:hover{color:#e94609;}
.detail .cut .current{height:38px;line-height:38px;margin-top:-1px;margin-left:-1px;color:#e94609;background:#fff;border-top:2px solid #f30;border-left:1px solid #ddd;border-right:1px solid #ddd;}
.detail .detail-main{padding:20px;border-top:0;}
.detail .detail-main img{display:block;margin:0 auto;max-width:910px;_width:910px;}

.detail-main .detail-list{font-size:14px;background:#fffbe0;color:#666;padding:20px 40px;}
.detail-main .detail-list li{float:left; width:259px; margin-right:10px; display:inline; line-height:35px;}
.detail-main h4{padding:7px 15px;font-size:16px;font-weight:bold;border:1px solid #dfdfdf;background-color:#fbfbfb;}
.detail-main table{width:100%;border:1px solid #ddd;margin:0 auto;}
.detail-main table th{width:13%;vertical-align:middle;padding:8px;text-align:right;border:1px solid #ddd;}
.detail-main table td{border:1px solid #ddd;padding:8px;}
.detail-main .aq-head{font-size:16px;font-weight:bold;font-family:'微软雅黑';padding:0 0 10px 15px;}
.detail-main .aq-con{border:1px solid #dfdfdf;}
.detail-main .aq-con dl{padding:10px 15px;}
.detail-main .aq-con dl dt{padding-top:10px;padding-bottom:5px;font-size:14px;color:#666;}
.detail-main .aq-con dl dd{padding-bottom:15px;color:#999;border-bottom:1px dotted #d0d0d0;}

span.span01{ color:#e4393c;}
span.span02{ padding:1px 2px; background:#e4393c; color:#fff;}
em.em01{ margin-left:10px; color:#e4393c;}
a.to-detail{ margin-left:10px; color:#336699}
a.to-detail:hover{ color:#e4393c;}