@charset "utf-8";

/* reset */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;outline:none;}
address,cite,code,dfn,em,var{font-style:normal;font-weight:normal;}
b,strong{font-weight:bold}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:12px;}
ul,ol,li{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
th,td,caption{font-weight:normal;vertical-align:top;text-align:left;}
img{border:0;}
input,textarea,select{vertical-align:middle;}
/*html5*/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;margin:0;padding:0;}
audio{display:none}
canvas,video{display:inline-block;*display:inline;*zoom:1}
[hidden]{display:none}
audio[controls]{display:inline-block;*display:inline;*zoom:1}
mark{background-color:#ff0;color:#000}

/*public*/
body{font:12px/1.5 Arial,"宋体",sans-serif;color:#333;background-color:#fff;}
a{text-decoration:none;color:#333;}
.clearfix:after{font-size:0;line-height:0;content:"\020";display:block;height:0;clear:both;}
.clearfix{zoom:1;}
a:hover{color:#f30;text-decoration:underline;}
.layout{width:1200px;margin:auto;clear:both;} /*默认1200宽度*/
.c{clear:both;} /*清除浮动*/

/*****************public elements define*******************/
/*font style*/
.f-red1{color:#ff0000;}
.f-red2{color:#cc0000;}
.f-orange1{color:#ff6600;}
.f-orange2{color:#ff9900;}
.f-blue1{color:#0000ff;}
.f-blue2{color:#336699;}
.f-black{color:#000000;}
.f-gray1{color:#333333;}
.f-gray2{color:#666666;}
.f-gray3{color:#999999;}
.f-gray4{color:#cccccc;}
.f-white{color:#ffffff;}
.f-u{text-decoration:underline;}
.f-b{font-weight:bold;}
.f-big{font-size:1.2em;}

/*float*/
.fl-l{float:left;}
.fl-r{float:right;}

/**col**/
.col-200{width:200px;}
.col-260{width:260px;}
.col-280{width:280px;}
.col-265{width:265px;}
.col-500{width:500px;}
.col-740{width:740px;}
.col-900{width:900px;}
.col-930{width:930px;}

/**margin 10**/
.m10-l{margin-left:10px;}
.m10-r{margin-right:10px;}
.m10-b{margin-bottom:10px;}
.m20-b{margin-bottom:20px;}

/*btn style*/
.btn{display:inline-block;*display:inline;*zoom:1;text-align:center;padding:9px 18px;font-size:100%;font-family:Arial,"宋体",sans-serif;line-height:normal;text-decoration:none;border:0 none;vertical-align:middle;box-shadow:0 1px 0 #e2e2e2;cursor:pointer;color:#333;background-color:#ddd;}
.btn:hover{color:#333;text-decoration:none;background-color:#ccc;}
.btn-disabled,.btn-disabled:hover{opacity:0.4;background-color:#e6e6e6;cursor:not-allowed;}
.btn-red{color:#fff;background:#e94609;}
.btn-orange{color:#fff;border-color:#f5b843;
background:#ffa830;background:-moz-linear-gradient(top,#ffb761,#ff9a03);
background:-webkit-gradient(linear,0% 0%,0% 100%,from(#ffb761),to(#ff9a03));
background:-webkit-linear-gradient(top,#ffb761,#ff9a03);
background:-o-linear-gradient(top,#ffb761,#ff9a03);
background: -ms-linear-gradient(top,#ffb761, #ff9a03);
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,startColorstr=#ffb761,endColorstr=#ff9a03);
background: linear-gradient(top,#ffb761, #ff9a03);}
.btn-blue{color:#fff;background:#2fafe0;border-color:#2fafe0;}
.btn-coffee{color:#fff;background:#b67136;}
.btn-gray{color:#333;background:#eee;}
.btn-orange:hover{color:#fff;background:#ff9a03;}
.btn-red:hover{color:#fff;background:#f30;}
.btn-blue:hover{color:#fff;background:#2ca2d1;}
.btn-coffee:hover{color:#fff;background:#cf813e;}
.btn-gray:hover{color:#525252;background:#f2f2f2;}

/*tables style*/
.ymall-table{empty-cells:show;border:1px solid #cbcbcb;font-size:12px;}
.ymall-table th,.ymall-table td{padding:8px 16px;border-left:1px solid #cbcbcb;border-width:0 0 0 1px;}
.ymall-table th{font-weight:bold;color:#333;background:#e0e0e0;}
.ymall-table td{color:#525252;}
.ymall-table .ymall-table-odd td{background:#f2f2f2;border-width:0 0 0 1px;}

 ymall-table-border th,.ymall-table-border td{border-bottom:1px solid #cbcbcb;}
.ymall-table-horizontal th,.ymall-table-horizontal td{border:0 none;border-bottom:1px solid #cbcbcb;}

/***************public frameset***************/

/*header*/
.header{position:relative;z-index:100;zoom:1;width:100%;min-width:1200px;margin:0 auto;}
/**topBar**/
.topBar{position:relative;z-index:100;width:100%;min-height:36px;_height:36px;line-height:36px;text-align:right;color:#8a8a8a;background-color:#f8f8f8;box-shadow:1px 1px 1px #ddd;border-bottom:1px solid #eee\0;*border:1px #eee;}
.topBar-userWelcome{padding-right:10px;}
.topBar-userWelcome a{color:#00469d;}
.topBar-userWelcome a:hover{color:#f30;}
.topBar .logined{padding-right:0;}
.topBar-userWelcome .user{position:relative;zoom:1;*padding-right:5px;}
.topBar-userWelcome .user .user-link{color:#584c4c;}
.topBar-userWelcome .user .icon-arr{display:inline-block;*display:inline;*zoom:1;width:12px;height:5px;margin-left:5px;background:url(../images/base.png) no-repeat -218px -254px;*vertical-align:middle;*margin-top:4px;_vertical-align:-5px;_margin-top:16px;}
.topBar-userWelcome .user .user-link:hover{color:#f30;}
.topBar-userWelcome .user .user-cs{position:absolute;left:50%;top:10px;*top:23px;margin-left:-55px;padding-top:11px;text-align:left;}
.topBar-userWelcome .user .user-cs .user-cs-con{display:block;width:110px;border:1px solid #e8ebed;background:#fff;}
.topBar-userWelcome .user .user-cs a{display:block;line-height:30px;padding:0 15px;color:#979797;white-space:nowrap;overflow:hidden;}
.topBar-userWelcome .user .user-cs a:hover{text-decoration:none;color:#f30;background:#f9f9f9;}
.topBar-userWelcome .user .user-cs .icon-arr{position:absolute;left:50%;top:5px;display:block;margin-left:-6px;width:13px;height:7px;background:url(../images/base.png) no-repeat -216px -264px;*margin-top:0;}
.topBar-menu a{padding:0 6px;color:#8a8a8a;}
.topBar-menu a:hover{color:#f30;}
/**headerMain**/
.headerMain{padding:30px 0 12px 0;position:relative;z-index:10;}
.headerMain .siteLogo{background:url(../images/logo.png) no-repeat;width:360px;height:50px;float:left;}
.headerMain .siteLogo a{height:50px;float:left;display:block;}
.headerMain .siteLogo-homepage{width:165px;margin-right:25px;}
.headerMain .siteLogo-mallpage{width:170px;}
/***headerMain search***/
.headerMain .search{position:relative;width:491px;height:63px;float:left;padding-top:5px;padding-left:75px;}
.search-area{width:487px;height:30px;border:2px solid #f75730;margin-bottom:8px;}
.search-input-text,
.search-input-submit{border:0 none;float:left;display:block;}
.search-input-text{width:421px;height:20px;line-height:20px;padding:5px 8px;font-size:14px;}
.search-input-submit{float:right;width:50px;height:30px;cursor:pointer;background:url(../images/base.png) no-repeat 12px 2px #f75730;}
.search-suggest{position:absolute;left:77px;top:37px;width:435px;overflow:hidden;border:1px solid #d5d5d5;background:#fff;}
.search-suggest li{line-height:29px;color:#868686;padding:0 5px;cursor:default;}
.search-suggest li:hover{background:#39f;color:#fff;}
.search-suggest li b{font-weight:bold;}
.search-hotkey{padding-left:10px;color:#606060;}
.search-hotkey a{margin-right:10px;color:#999;}
.search-hotkey a:hover{color:#f30;}
/*myYmall*/
.myYmall{float:left;height:32px;overflow:hidden;line-height:32px;margin:5px 0 0 15px;padding:0 10px;font-size:14px;text-align:center;border:1px solid #efefef;background-color:#f7f7f7;}
.myYmall .icon-user{display:inline-block;*display:inline;*zoom:1;width:15px;height:19px;background:url(../images/base.png) no-repeat -48px -74px;vertical-align:top;margin:5px 5px 0 0;*margin-top:-1px;_vertical-align:-1px;_margin-top:5px;}
.myYmall a{color:#666;}
.myYmall a:hover{color:#f30;}
/*to-cart*/
.to-cart{height:32px;position:relative;float:right;margin-top:5px;}
.to-cart dt{position:relative;z-index:10;float:left;width:144px;height:32px;text-align:center;line-height:32px;border:1px solid #efefef;background-color:#f7f7f7;}
.to-cart .selected{border-bottom:1px solid #fff;background-color:#fff;}
.to-cart dt .shop-amount{position:absolute;left:30px;top:-14px;display:block;width:18px;height:19px;line-height:18px;text-align:center;color:#fff;background:url(../images/base.png) no-repeat 0 -32px;}
.to-cart dt a{font-size:14px;color:#666;}
.to-cart dt a:hover{color:#f30;}
.to-cart dt .icon-cart{display:inline-block;*display:inline;*zoom:1;width:21px;height:20px;background:url(../images/base.png) no-repeat 0 -56px;vertical-align:top;margin:5px 5px 0 0;*margin-top:-1px;_vertical-align:-1px;_margin-top:5px;}
.to-cart dt .angle{display:inline-block;*display:inline;*zoom:1;width:5px;height:9px;background:url(../images/base.png) no-repeat 0 -81px;vertical-align:top;margin:11px 0 0 5px;*margin-top:3px;_vertical-align:1px;}
.to-cart dt .down{width:9px;height:5px;background:url(../images/base.png) no-repeat -21px -81px;margin:12px 0 0 1px;*margin-top:4px;_vertical-align:-1px;}
.to-cart dd{position:absolute;top:33px;right:0;border:1px solid #efefef;background-color:#fff;}
.to-cart dd .nogoods{width:200px;padding:20px 10px 20px 20px;color:#8d8d8d;}
.to-cart .cart-table{width:300px;}
.to-cart .cart-table .cart-table-body{height:144px;}
.to-cart .cart-item{border-bottom:1px solid #e2e2e2;height:55px;padding:8px;overflow:hidden;}
.to-cart .cart-item li{float:left;overflow:hidden;background:none;}
.to-cart .cart-item img{width:55px;height:55px;}
.to-cart .cart-item .item-operate{float:right;width:38px;}
.to-cart .cart-item .item-img{width:55px;overflow:hidden;height:55px;}
.to-cart .cart-item .item-intro{width:132px;height:54px;overflow:hidden;padding-left:10px;}
.to-cart .cart-item .item-intro a{display:block;color:#666;}
.to-cart .cart-item .item-intro a:hover{color:#f30;}
.to-cart .cart-item .item-extra{float:right;color:#999;}
.to-cart .cart-item .item-extra .delete{color:#016dca;}
.to-cart .cart-item .item-extra .delete:hover{color:#f30;}
.to-cart .cart-item .item-extra p{text-align:right;padding-top:20px;}
.to-cart .cart-item .item-operate a{background:#eee;color:#999;padding:3px;}
.to-cart .item-price{color:#f6572f;font-weight:bold;}
.to-cart .cart-bottom{padding:10px 15px;background:#fff;line-height:20px;text-align:right;}
.to-cart .cart-bottom .item-price{font-size:14px;}
.to-cart .cart-goMyCart{display:inline-block;*display:inline;*zoom:1;height:32px;line-height:32px;padding:0 30px;margin-top:5px;font-size:14px;cursor:pointer;color:#fff;background-color:#f65730;border-radius:0;}
.to-cart .cart-goMyCart:hover{background-color:#f30;}
/**headerNav**/
.headerNav{height:38px;border-bottom:1px solid #f58e74;background-color:#ef4218;}
.headerNav-main{width:970px;height:38px;float:left;display:inline;}
/*商品分类*/
.headerNav .all-brands{position:relative;z-index:10;float:left;width:230px;height:38px;}
.headerNav .all-brands .all-brands-head{width:230px;height:38px;overflow:hidden;}
.headerNav .all-brands .all-brands-head a{display:block;height:34px;line-height:38px;color:#fff;font-size:15px;font-weight:bold;text-indent:1em;border:2px solid #f75730;background:#f75730;}
.all-brands-list{position:relative;top:0;left:0;width:226px;height:350px;padding-bottom:3px;border:2px solid #ef4218;	border-top:0;background-color:#fafafa;}
.all-brands-item{padding:4px 15px;border-top:1px solid #fff;}
.all-brands-item h3{margin-bottom:5px;font-size:14px;font-weight:normal;color:#353535;}
.all-brands-item h3 i{font-size:12px;font-weight:bold;color:#ff6920;}
.all-brands-item h3 em{margin-left:5px;font-size:12px;color:#ff6920;}
.all-brands-item p{display:inline-block;*display:inline;*zoom:1;width:155px;white-space:nowrap;vertical-align:top;*vertical-align:0;}
.all-brands-item p a{margin-right:20px;color:#838383;}
.all-brands-item .more{color:#838383;}
.all-brands-item p a:hover,.all-brands-item .more:hover{color:#f30;}
/*导航*/
.headerNav-nav{float:left;width:600px;height:38px;font-size:16px;font-family:'微软雅黑';white-space:nowrap;}
.headerNav-nav li{float:left;width:130px;height:38px;line-height:38px;margin-right:5px;}
.headerNav-nav li a{display:block;width:100%;height:38px;text-align:center;text-decoration:none;color:#fff;}
.headerNav-nav li a:hover{color:#fff;text-decoration:none;background-color:#d62a00;}
.headerNav-nav li .selected{background:#d62a00;}

/*container*/
.container{width:100%;min-width:1200px;margin:auto;}

/*footer*/
.footer{width:100%;min-width:1200px;margin:auto;border-top:1px solid #f3f1f1;background-color:#f6f6f6;}
.footer-service{float:left;width:983px;padding:105px 0 20px 7px;background:url(../images/foot_service.png) no-repeat 5px 30px;}
.footer-service dl{display:inline-block;*display:inline;*zoom:1;width:205px;vertical-align:top;position:relative;padding-left:40px;}
.footer-service dt{position:relative;zoom:1;font-size:14px;font-weight:bold;margin-bottom:5px;}
.footer-service dt .icon-aq{position:absolute;left:-28px;top:0;display:block;width:22px;height:22px;background:url(../images/base.png) no-repeat -207px 0;}
.footer-service dt .icon-service{position:absolute;left:-28px;top:0;display:block;width:22px;height:22px;background:url(../images/base.png) no-repeat -207px -27px;}
.footer-service dt .icon-pay{position:absolute;left:-28px;top:0;display:block;width:22px;height:22px;background:url(../images/base.png) no-repeat -207px -54px;}
.footer-service dd{line-height:22px;}
.footer-service dd a{color:#666;}
.footer-service dd a:hover{color:#333;}

.online{float:left;display:inline;width:210px;padding-top:25px;padding-bottom:20px;}
.online li{float:left;display:inline;width:98px;height:27px;margin:0 0 7px 7px;overflow:hidden;}
.online li a{display:block;width:96px;height:25px;border:1px solid #c0c0c0;background:url(../images/base.png) no-repeat;}
.online .line1 a{background-position:0 -96px;}
.online .line2 a{background-position:0 -126px;}
.online .line3 a{background-position:0 -156px;}
.online .line4 a{background-position:0 -186px;}
.online .line5 a{background-position:0 -216px;}
.online .line6 a{background-position:0 -246px;}
.online li a:hover{border-color:#f70;}

.footer-copyright{color:#777;border-top:1px solid #dddddd;padding:25px 0;text-align:center;line-height:25px;background-color:#fff;}
.footer-copyright p a{color:#777;margin:0 5px;}
.footer-copyright p a:hover{color:#333;}
.copyright{padding-bottom:5px;color:#999;}
.footer-copyright .cr-icon{display:block;width:229px;height:41px;margin:0 auto;background:url(../images/base.png) no-repeat 0 -276px;}

/*popbox*/
.mark{position:fixed;top:0;left:0;z-index:100;width:100%;height:100%;background-color:#000;filter:alpha(opacity=30);-moz-opacity:0.3;-khtml-opacity:0.3;opacity:0.3;}
* html .mark{position:absolute;top:expression(eval(document.documentElement.scrollTop))}
.popbox{position:fixed;z-index:100;width:470px;font-size:14px;border:3px solid #ef421a;background:#fff;}
* html .popbox{position:absolute;top:expression(eval(document.documentElement.scrollTop)+110)}
.popbox .pop-head{height:50px;line-height:50px;position:relative;}
.popbox .pop-head h2{padding:0 18px;font-size:18px;font-family:'微软雅黑';color:#535353;}
.popbox .pop-head .pop-close{width:21px;height:21px;display:block;cursor:pointer;position:absolute;top:50%;margin-top:-11px;right:15px;background:url(../images/pop_sprices.png) no-repeat 0 0;}
.popbox .pop-foot{text-align:center;padding:0 15px 30px 15px;}
.popbox .pop-foot .btn{width:120px;}
.pop-body{padding:15px;}
.pop-body .icon-cue{width:29px;height:29px;display:inline-block;*display:inline;*zoom:1;background:url(../images/popbox_sprices.png) no-repeat -1px -24px;vertical-align:middle;margin-right:8px;}
.pop-body .icon-suc{width:29px;height:30px;display:inline-block;*display:inline;*zoom:1;background:url(../images/popbox_sprices.png) no-repeat -1px -119px;vertical-align:middle;margin-right:8px;}
.pop-body .icon-fai{width:29px;height:30px;display:inline-block;*display:inline;*zoom:1;background:url(../images/popbox_sprices.png) no-repeat -1px -85px;vertical-align:middle;margin-right:8px;}
.pop-massage{padding:30px 0 20px 0;text-align:center;}
/*popform*/
.pop-form .text-box{width:120px;height:18px;padding:2px;line-height:18px;border:1px solid #ccc;}
.pop-form .select-box{width:126px;height:22px;border:1px solid #ccc;}
.pop-form .textarea-box{width:535px;height:54px;padding:3px;border:1px solid #ccc;}
.pop-form .pop-form-btn{margin-top:26px;text-align:right;}
.pop-form .pop-form-btn .btn{width:120px;font-size:14px;font-weight:bold;}
/*pop-login*/
.pop-login-cut{border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;}
.pop-login-cut li{float:left;width:50%;text-align:center;line-height:48px;font-size:14px;background-color:#f7f7f7;cursor:pointer;}
.pop-login-cut .current{color:#fff;background-color:#ef4218;}
.pop-login-form{width:385px;margin:0 auto;padding-top:20px;color:#606060;}
.pop-login-form p{padding-bottom:10px;}
.pop-login-form .tyhz{padding:2px 0 12px 0;}
.pop-login-form .sub-btn{padding-bottom:20px;}
.pop-login-form .label{display:inline-block;*display:inline;*zoom:1;width:89px;font-size:14px; font-family:'宋体';}
.pop-login-form .label em{margin-right:8px;}
.pop-login-form .text-box{height:34px;line-height:34px;text-indent:4px;border:1px solid #dfdfdf;}
.pop-login-form .code-img{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;margin-top:5px;margin-left:15px;}
.pop-login-form .code-img img{width:48px;height:31px;}
.pop-login-form .cg{margin-left:15px;color:#3399e0;}
.pop-login-form .cg:hover{color:#f30;}
.pop-login-form .btn{width:122px;border-radius:2px;}
.pop-login-form .btn-red{background-color:#ff3300;}
.pop-login-form .btn-red:hover{background-color:#e94609;}
.pop-login-extra{width:385px;margin:0 auto;padding:15px 0;text-align:center;border-top:1px dotted #d0d0d0;color:#606060;}
.pop-login-extra a{margin-left:15px;color:#f30;text-decoration:underline;}
.pop-login-form .gt{width:33px;height:14px;line-height:1em;margin-left:15px;}

/*通用模块（框架）*/
.module .module-head{background:#f2f2f2;padding:15px;}
.module .module-head h2{font-size:14px;font-weight:bold;}
.module .module-head h2 .sub-text{font-weight:normal;padding:0 30px;}
.module .module-body{border:1px solid #ccc;border-top:3px solid #f30;background:#fff;}

/*表单*/
.ymall-form{padding:20px;font-size:14px;color:#666;}
.ymall-form p{height:45px;}
.ymall-form .label{display:inline-block;*display:inline;*zoom:1;width:126px;font-family:'宋体';text-align:right;vertical-align:middle;}
.ymall-form .label em{margin-right:5px;}
.ymall-form .tt{margin-left:5px;font-size:12px;color:#999;}
.ymall-form .text-boxS{width:120px;height:20px;line-height:20px;padding:4px;border:1px solid #dfdfdf;font-size:14px;}
.ymall-form .text-boxM{width:278px;height:20px;line-height:20px;padding:4px;border:1px solid #dfdfdf;font-size:14px;}
.ymall-form .text-boxL{width:417px;height:20px;line-height:20px;padding:4px;border:1px solid #dfdfdf;font-size:14px;}
.ymall-form .select-box{height:22px;border:1px solid #dfdfdf;}
.ymall-form .ck-box{margin:4px 4px 0 0;vertical-align:top;*vertical-align:-1px;}
.ymall-form .sub-btn{height:36px;line-height:36px;padding:0 30px;*padding:0 15px;font-size:14px;border-radius:0;}

/*tabs*/
.ymall-cut{height:40px;border:1px solid #ccc;background:#fbfbfb;}
.ymall-cut li{width:130px;height:20px;line-height:20px;border-right:1px dotted #d2d2d2;overflow:hidden;margin-top:10px;font-size:14px;font-weight:bold;float:left;text-align:center;cursor:pointer;}
.ymall-cut li:hover{color:#e94609;}
.ymall-cut .current{height:38px;line-height:38px;margin-top:-1px;margin-left:-1px;color:#e94609;background:#fff;border-top:2px solid #f30;border-left:1px solid #ddd;border-right:1px solid #ddd;}
.ymall-tab{padding:20px;}

/*翻页*/
.pages{text-align:center;}
.pages a{display:inline-block;*zoom:1;*display:inline;width:30px;padding:5px 0;margin-left:5px;font-family:"宋体";background:url(../images/page-bg.png) no-repeat;}
.pages .page-action{width:66px;}
.pages .page-num{background-position:0 -127px;}
.pages .selected{background:none;}
.pages .page-prev{background-position:0 -31px;}
.pages .page-prev-unable{background-position:0 0;cursor:default;}
.pages .page-prev-unable:hover{color:#333;text-decoration:none;}
.pages .page-next{background-position:0 -95px;}
.pages .page-next-unable{background-position:0 -62px;}
.pages .page-next-unable:hover{color:#333;text-decoration:none;}

/*面包屑*/
.breadcrumb{padding-left:10px;padding-bottom:15px;font-family:"宋体";color:#858585;}
.breadcrumb a{color:#858585;}
.breadcrumb a:hover{color:#f30;}

/*温馨提示*/
.reminder{padding:20px 35px;margin-bottom:30px;line-height:30px;color:#666;background-color:#fbfbfb;}
.reminder h3{font-weight:bold;}

/*提示信息*/
.alarm{border:1px solid #ff9900;padding:20px;color:#ff6600;background:#ffffcc;}
.prompt{padding:20px;color:#666;background:#fff;overflow:hidden;border:1px solid #ddd;}
.warning{border:1px solid #ff0000;padding:20px;color:#ff0000;background:#ffff99;}

.hello-notice{display:none!important;}