@charset "utf-8";

.user{padding:20px 0;}
.user-aside{width:230px;float:left;padding:10px 0;background:#fbfbfb;}
.user-aside .user-list-items{padding:0 18px;margin-bottom:18px;}
.user-list-items .user-list-tit{border-bottom:1px solid #e7e7e7;color:#333;font:18px/45px "Microsoft Yahei";}
.user-list-items li{margin-top:15px;font-size:14px;}
.user-list-items li a{border-left:2px solid #fbfbfb;padding-left:10px;}
.user-list-items .cur a,.user-list-items li a:hover{border-left:2px solid #f76a48;color:#f76a48;}

.user-main{width:950px;float:right;}
.user-main .user-info{height:80px;padding:18px 25px;border:1px solid #dfdfdf;}
.user-info .user-avatar{vertical-align:middle; cursor:pointer;}
.user-info .user-name{margin:0 30px;color:#333;font:20px/30px "Microsoft Yahei";}
.user-info .user-welcome{color:#666;font:16px/30px "Microsoft Yahei";}

.user-about-items{margin-top:15px;border:1px solid #dfdfdf;}
.user-about-items .user-about-hd{height:40px;border-bottom:1px solid #dfdfdf;background:#fbfbfb;}
.user-about-hd .user-about-tit{float:left;padding-left:16px;font:bold 14px/40px "宋体";}
.user-about-hd .view-cart{float:right;margin:13px 14px 0 0;color:#ef4218;}
.user-about-bd{font-size:14px;}
.user-about-none{padding:45px 0;color:#8c8c8c;text-align:center;}
.user-about-none a{color:#ef4218;}

.orders-table{width:96%;margin:0 auto;}
.orders-table td{padding:28px 0;vertical-align:middle;border-bottom:1px solid #f8f8f8;}
.orders-table .orders-pic-td{padding-left:15px;}
.orders-table .tc{text-align:center;}
.orders-table .orders-pic{width:58px;height:58px;border:1px solid #e5e5e5;}
.orders-table .orders-price,.orders-table .orders-detail{display:inline-block;padding:16px 35px;border-left:1px dotted #b8b8b8;}
.orders-table .orders-price{color:#919191;}
.orders-table .orders-detail{border-right:1px dotted #b8b8b8;color:#919191;text-decoration:underline;}
.paid-orders-table .orders-detail{border-right:none;}
.buynow{padding:8px 28px;}

.my-cart{width:950px;overflow:hidden;}
.my-cart-list{width:1000px;padding:30px 0 15px;}
.my-cart-list li{float:left;width:120px;margin-left:35px;font-size:12px;line-height:30px;}
.my-cart-list img{width:103px;height:103px;border:1px solid #e5e5e5;}
.my-cart-list img:hover{border:1px solid #ef4218;}
.my-cart-list a{color:#707070;}
.my-cart-list a:hover{color:#ef4218;}

.user-bread-crumbs{padding-top:13px;border-bottom:1px solid #d5d5d5;}
.bread-crumbs-tit{color:#666;font:18px/40px "Microsoft Yahei";}
.my-address{width:952px;padding-top:25px;overflow:hidden;}
.address-section{width:1100px;padding-bottom:200px;}
.my-address .address-box{position:relative;float:left;width:298px;height:192px;border:1px solid #dfdfdf;margin-left:10px;margin-right:6px;margin-bottom:25px;color:#999;font-size:14px;background:#fbfbfb;}
.my-address .address-add,.my-address .address-info,.my-address .address-edit{position:absolute;top:0;left:0;display:none;}
.my-address .address-add{text-align:center;width:100%;height:100%;}
.my-address .address-add-control{display:inline-block;width:60px;margin-top:25px;padding-top:90px;background:url(../images/add-address.png) center center no-repeat;}
.my-address .address-add a{color:#999;}
.address-info{padding:15px 10px;}
.address-info p{padding:10px 0;}
.address-info .important-info{border-bottom:1px solid #d5d5d5;color:#666;}
.important-info .phone{float:right;}
.address-action a{margin-right:10px;padding:6px 28px;}
.address-action .address-confirm{padding:6px 15px;}
.address-info .location-info,.address-info .address-action{padding-left:6px;}
.my-address .address-edit{left:-1px;top:-1px;width:250px;padding:20px 22px;color:#999;border:3px solid #f3f3f3;overflow:hidden;background:#fff;}
.address-edit p{margin-bottom:12px;}
.address-edit .address-text{width:242px;height:28px;line-height:28px;border:1px solid #e7e7e7;padding-left:10px;}
.address-edit .address-text-area{height:100px;resize:none;}
.address-edit .address-province,.address-edit .address-city{width:123px;border:1px solid #e7e7e7;}
.address-edit .address-district{width:254px;border:1px solid #e7e7e7;}

.address-add-box .address-add{display:block;}
.address-info-box .address-info{display:block;}
.address-edit-box .address-edit{display:block;}

.my-orders-items{margin-top:15px;line-height:35px;}
.orders-info-table{border:1px solid #dfdfdf;font-size:14px;}
.orders-info-table th{border-bottom:1px solid #dfdfdf;padding-left:15px;color:#666;background:#fbfbfb;}
.orders-info-table .orders-items-status{color:#ef4218;}
.orders-info-table .orders-items-number,.orders-info-table .orders-items-time{margin:0 20px;}
.orders-info-table td{border:1px solid #dfdfdf;padding:5px 0;text-align:center;vertical-align:middle;}
.orders-info-table .orders-items-descri{padding-left:30px;text-align:left;border-left:none;}
.orders-info-table .orders-items-pic{border-right:none;}
.orders-info-table .orders-pic{width:58px;height:58px;border:1px solid #e5e5e5;margin-top:15px;}
.orders-info-table .orders-items-price,.orders-info-table .my-number{color:#ef4218;}
.orders-info-table .orders-items-price{margin-right:5px;}
.orders-info-table .orders-items-num{margin-left:5px;}
.my-orders-link{text-decoration:underline;margin:0 5px;}
.my-orders-detail{color:#ef4218;}
.my-orders-cancel{color:#00469d;}
.orders-items-descri p{color:#999;font-size:12px;line-height:22px;}
.orders-detail-table th{text-align:center;}
.orders-total-info{padding:15px 28px 15px 0;text-align:right;line-height:35px;}
.orders-total-des{display:inline-block;width:120px;color:#ef4218;}
.orders-total-des strong{font:bold 20px/50px "宋体";}
.order-about-item{margin:0 5px;color:#999;}
.order-item-price{margin-left:3px;color:#ef4218;}

.receive-info{margin:18px 0;padding:18px 0 18px 38px;line-height:32px;background:#fbfbfb;}

.application-table{margin-top:25px;}
.application-table th{border-top:2px solid #ea4621;padding:10px 0 10px 22px;font-size:14px;font-weight:bold;color:#787878;background:#fff7e5;}
.application-table td{line-height:45px;font-size:14px;vertical-align:middle;}
.application-table .key-td{padding-right:10px;text-align:right;}
.application-table label{margin-right:40px;vertical-align:middle;}
.application-table .return-type{margin-right:5px;}
.application-table .form-text{width:285px;height:26px;border:1px solid #dfdfdf;padding-left:3px;line-height:28px;}
.application-table .form-text-area{height:115px;resize:none;}
.application-table .note{color:#fe0000;}
.application-table .submit-form{border:0 none;padding:8px 32px;font-size:14px;overflow:visible;cursor:pointer;}

/***统一按钮***/
.gray-btn{border:1px solid #e3e3e3;border-radius:2px;color:#666;text-align:center;background:#fff;}
.gray-btn:hover,.gray-btn:active{color:#666;background:#f8f8f8;}

.orange-btn{border:1px solid #ff3300;border-radius:2px;color:#fff;text-align:center;background:#ff3300;}
.orange-btn:hover,.orange-btn:active{color:#fff;background:#ef4218;}

/**找回密码**/
.gb-password{margin-bottom:50px;padding-top:40px;}
.gb-password h3{padding-bottom:3px;text-indent:9px;font-size:18px;font-family:'微软雅黑';color:#656565;}
.gb-password .gb-password-main{padding:20px;border:1px solid #cfcfcf;}
.gb-password-proBar{width:1000px;height:29px;line-height:29px;margin:0 auto 60px;background:url(../images/parbar.png) no-repeat;}
.bar02{background-position:0 -29px;}
.bar03{background-position:0 -58px;}
.bar04{background-position:0 -87px;}
.gb-password-proBar span{display:block;width:270px;text-align:center;float:left;font-size:18px;font-family:'微软雅黑';color:#fff;}
.gb-password-proBar .ft{width:250px}
.gb-password-proBar .lt{width:185px}
.gb-password-proBar .cur{color:#ff8601;}
.gb-password-form{width:400px;margin:0 auto;padding-bottom:30px;}
.gb-password-form .gb-password-tip{display:inline-block;*display:inline;*zoom:1;padding:0 8px;margin-bottom:20px;font-size:14px;line-height:24px;border:1px solid #b9b9b9;background:url(../images/kengdie_sheji.png) repeat-x;}
.gb-password-form .gb-password-tip a{font-family:'宋体';color:#087cdf;}
.gb-password-form  p{padding-bottom:15px;}
.gb-password-form .label{display:inline-block;width:112px;text-align:right;font-size:14px;color:#333;}
.gb-password-form .text-box{text-indent:3px;height:30px;line-height:30px;border:1px solid #dfdfdf;}
.gb-password-form .code-img{display:inline-block;*display:inline;*zoom:1;width:50px;height:30px;vertical-align:middle;margin:2px 0 0 10px;}
.gb-password-form .code-img img{width:50px;height:28px;}
.gb-password-form .entry{display:inline-block;*display:inline;*zoom:1;margin-left:15px;line-height:32px;}
.gb-password-form .entry a{color:#3399e0;}
.gb-password-form .entry a:hover{color:#f30;}
.gb-password-form .sub-btn{font-size:14px;}
.gb-password-suc{width:400px;margin:0 auto;padding-bottom:40px;font-size:14px;}
.gb-password-suc .emall{padding-bottom:20px;text-align:center;font-family:'宋体';}
.gb-password-suc .reset{padding-bottom:20px;text-align:center;font-size:14px;color:#18b71c;}
.gb-password-suc .reset-btn{padding-bottom:20px;text-align:center;}
.gb-password-suc .btn-red{font-size:14px;}
.gb-password-suc .tips{line-height:24px;}
.gb-password-suc .icon-suc{display:inline-block;*display:inline;*zoom:1;width:35px;height:29px;background:url(../images/xdyz.png) no-repeat;vertical-align:top;margin:-6px 5px 0 0;}
.user-main .gb-password-form{padding:30px 275px 20px 275px;background-color:#fbfbfb;}
.user-main .gb-password-suc{padding:50px 275px 40px 275px;background-color:#fbfbfb;}

/**安全中心**/
.safe-center{margin-bottom:40px;border:1px solid #dfdfdf;border-bottom:0;}
.safe-center h2{padding:6px;font-size:16px;text-indent:10px;font-weight:bold;border-bottom:1px solid #dfdfdf;background-color:#fbfbfb;}
.safe-plate{padding:20px 0;border-bottom:1px solid #dfdfdf;}
.safe-plate .safe-plate-method{float:left;padding:0 40px;height:70px;line-height:70px;font-size:20px;font-weight:bold;border-right:1px solid #dfdfdf;}
.safe-plate .safe-plate-method .icon-password{display:inline-block;*display:inline;*zoom:1;width:35px;height:38px;overflow:hidden;background:url(../images/safe_plate.png) no-repeat;vertical-align:top;margin:14px 10px 0 0;}
.safe-plate .safe-plate-method .icon-email{display:inline-block;*display:inline;*zoom:1;width:35px;height:38px;overflow:hidden;background:url(../images/safe_plate.png) no-repeat 0 -38px;vertical-align:top;margin:14px 10px 0 0;}
.safe-plate .safe-plate-method .icon-tel{display:inline-block;*display:inline;*zoom:1;width:35px;height:38px;overflow:hidden;background:url(../images/safe_plate.png) no-repeat 0 -76px;vertical-align:top;margin:14px 10px 0 0;}
.safe-plate .safe-plate-span{float:left;padding:0 40px;height:70px;line-height:70px;overflow:hidden;font-size:14px;white-space:nowrap;}
.safe-plate .safe-plate-action{float:right;padding-right:40px;line-height:70px;font-size:14px;}

/**验证手机**/
.code-proBar {height:29px;line-height:29px;overflow:hidden;margin:0 auto 10px;background:url(../images/code_parbar.png) no-repeat;}
.bar02{background-position:0 -29px;}
.bar03{background-position:0 -58px;}
.code-proBar span{display:block;width:310px;text-align:center;float:left;font-size:18px;font-family:'微软雅黑';color:#fff;}
.code-proBar .ft{width:305px}
.code-proBar .lt{width:335px}
.code-proBar .cur{color:#ff8601;}
.code-main{padding:20px;border:1px solid #cfcfcf;}
.code-cue{font-size:14px;padding:35px 0;text-align:center;}
.code-cue .icon-cue{display:inline-block;*display:inline;*zoom:1;width:44px;height:40px;overflow:hidden;background:url(../images/login-reg-bg.png) no-repeat 0 -72px;vertical-align:top;margin:-8px 20px 0 0;}
.code-main .gb-password-form,.code-main .gb-password-suc{padding:30px 255px 20px 255px;background-color:#fff;}
.gb-password-form .j-massage{display:block;line-height:18px;padding-top:5px;padding-left:115px;font-size:12px;color:#f40;}
.code-main .gb-password-form .btn-coffee{padding:6px 15px;}