<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>电商平台登录页</title>
    <link href="../css/style.css" rel="stylesheet" />
    <link href="../css/page/backend/login.css" rel="stylesheet" />
</head>
<body>
<div id="hd">
    <div class="logo main-content">
        <h1><a href="../index.html" title="电商平台">账号登录</a></h1>
        <ul class="head-link">
            <li><a href="">电商平台首页</a></li>
            <li><a href="">帮助中心</a></li>
        </ul>
    </div>
</div>

<div id="bd" class="login-bd">
    <div class="main-content">
        <div class="input-box">
            <div class="input-hd"><h2>用户登录</h2></div>

            <div class="input-area">
                <div class="alert alert-error">
                    <i class="iconfont">&#xe617;</i>
                    <span>请输入用户名</span>
                </div>
                <form>
                    <div class="input-item">
                        <p>登录名：</p>
                        <input type="text" placeholder="请输入账号/邮箱">
                    </div>

                    <div class="input-item">
                        <p>登录密码：</p>
                        <input type="text" placeholder="请输入密码">
                    </div>

                    <div class="input-item">
                        <p>验证码：</p>
                        <input type="text" placeholder="" class="img-code">
                        <img src="" alt="验证码图片">
                    </div>

                    <div class="login-btn"  onclick="javascript:window.location='mgt_console.html'">登录</div>
                </form>
            </div>
            <p class="reg" >忘记密码？ <a href="javascript:;" >立即注册</a></p>
        </div>
    </div>
</div>

<div id="ft" class="login-ft">
    <div class="footer-copyright">
        <p class="clearfix links">
            <a href="javascript:;" target="_blank">关于我们</a>
            <a href="javascript:;" target="_blank">法律声明</a>
            <a href="javascript:;">服务条款</a>
            <a href="javascript:;" target="_blank">联系方式</a>
        </p>
        <p style="font-family:arial;">地址：江苏省南京市建邺区88号&nbsp;&nbsp;增值电信业务许可证B1-20160901&nbsp;&nbsp;COPYRIGHT&nbsp;&nbsp;©&nbsp; 2010-2016<a href="http://www.uimaker.com">uimaker</a>&nbsp;版权所有&nbsp;ICP证：苏A2-20160101</p>
        <p style="font-family:arial;">增值电信营业许可证B1-20150962&nbsp;&nbsp;云平台&nbsp;&nbsp;版权所有</p>
    </div>
</div>

<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript">


</script>
</body>
</html>