<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8" />
    <title>电商运营平台</title>
    <link th:href="@{../static/css/style.css}" rel="stylesheet" />
    <link th:href="@{../static/css/backend.css}" rel="stylesheet" />
    <link th:href="@{../static/css/page/backend/order_manage.css}" rel="stylesheet" />
    <link th:href="@{../plugins/datepicker/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{../plugins/datepicker/css/bootstrap-datepicker.css}" rel="stylesheet" />
    <link th:href="@{../plugins/select2/css/select2.min.css}" rel="stylesheet" />
    <link th:href="@{../static/css/page/backend/account_center.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{../static/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{../static/js/common.js}"></script>
    <script type="text/javascript" th:src="@{../plugins/datepicker/js/bootstrap-datepicker.js}"></script>
    <script type="text/javascript" th:src="@{../plugins/datepicker/locales/bootstrap-datepicker.zh-CN.min.js}"></script>
    <script type="text/javascript" th:src="@{../static/js/jquery.pagination.js}"></script>
    <script type="text/javascript" th:src="@{../plugins/select2/js/select2.min.js}"></script>
</head>
</html>