<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>订单管理</title>
    <link th:href="@{../static/css/style.css}" rel="stylesheet" />
    <link th:href="@{../static/css/backend.css}" rel="stylesheet" />
    <link th:href="@{../static/css/page/backend/order-manage.css}" rel="stylesheet" />
    <link th:href="@{../plugins/datepicker/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{../plugins/datepicker/css/bootstrap-datepicker.css}" rel="stylesheet" />
    <link th:href="@{../plugins/select2/css/select2.min.css}" rel="stylesheet" />
</head>
<body>

<div id="hd" th:include="admin/frame/nav :: #hd"></div>

<div id="bd" th:include="admin/frame/main-wrap :: #bd"></div>

<script type="text/javascript" th:src="@{../static/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{../static/js/common.js}"></script>
<script type="text/javascript" th:src="@{../plugins/datepicker/js/bootstrap-datepicker.js}"></script>
<script type="text/javascript" th:src="@{../plugins/datepicker/locales/bootstrap-datepicker.zh-CN.min.js}"></script>
<script type="text/javascript" th:src="@{../static/js/jquery.pagination.js}"></script>
<script type="text/javascript" th:src="@{../plugins/select2/js/select2.min.js}"></script>
<script type="text/javascript">

    $("#starttime").datepicker({
        "language":"zh-CN",
        "format": 'yyyy-mm-dd'
    })
    $("#endtime").datepicker({
        "language":"zh-CN",
        "format": 'yyyy-mm-dd'
    })
    $(".date-pick .iconfont").click(function(){
        $(this).prev().trigger("focus");
    });

    $('.pagin').pagination(200, {
        current_page: 5,
        items_per_page: 10,
        callback: function(page, panel, evt){


        }
    });

    $('table').on('click', 'a', function() {
        $('.s-page').show();
    });

    $('.s-page').on('click', '.close-spage', function() {
        $('.s-page').hide();
    });

    $('select').select2();



</script>
</body>
</html>