<div id="hd" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="header-nav">
        <div class="navigation-inner">
            <div class="logo">
                <h1>
                    <a th:href="@{/admin/toIndex}" class="logo-img">电商运营平台</a>
                </h1>
            </div>
            <div class="header-categories" id="nav-con">
                <ul class="menu">
                    <li class="menu-item selected">
                        <h2>
                            <a href="mgt_console.html">安全总览</a>
                        </h2>
                    </li>
                </ul>
            </div>


            <div class="user-message">
                <span class="label label-default">32</span>
            </div>


            <div class="login-user">
                <i class="iconfont">&#xe60d;</i>
                <a class="javascript:;">您好！系统管理员</a>
                <i class="iconfont">&#xe61c;</i>

                <div class="user-opt-panel">
                    <ul class="user-opt">
                        <li>
                            <a th:href="@{/user/toUserCenter}">
                                <i class="iconfont">&#xe60d;</i>
                                <span class="pf-opt-name">账户信息</span>
                            </a>
                        </li>
                        <li>
                            <a href="order.html">
                                <i class="iconfont">&#xe60c;</i>
                                <span class="pf-opt-name">订单信息</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="iconfont">&#xe60f;</i>
                                <span class="pf-opt-name">结算信息</span>
                            </a>
                        </li>
                        <li class="div-line">
                            <a href="javascript:;">
                                <i class="iconfont">&#xe60e;</i>
                                <span class="pf-opt-name">资产信息</span>
                            </a>
                        </li>
                        <li class="div-line">
                            <a href="login.html">
                                <i class="iconfont">&#xe60b;</i>
                                <span class="pf-opt-name">退出</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>