<div class="sider-bar-bk" xmlns:th="http://www.thymeleaf.org">
    <div class="sider-bar-hd">
        <i class="iconfont">&#xe616;</i>
        <span>云服务</span>
    </div>
    <ul class="sider-nav">

        <li class="sider-nav-item" th:each="menu : ${menus}">
            <h3>
                <a href="javascript:;">
                    <i class="iconfont">&#xe613;</i>
                    <span th:text="${menu.menuName}">系统管理</span>
                    <i class="iconfont arrow-right">&#xe611;</i>
                    <i class="iconfont arrow-down">&#xe615;</i>
                </a>
            </h3>
            <ul class="sider-nav-s">
                <li><a href="#">系统用户管理</a></li>
                <li><a href="#">系统角色管理</a></li>
            </ul>
        </li>

    </ul>
</div>