<div class="sider-bar-bk" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="sider-bar-hd">
        <i class="iconfont">&#xe616;</i>
        <span>云服务</span>
    </div>
    <ul class="sider-nav">
        <li class="sider-nav-item current">
            <h3>
                <a href="javascript:;">
                    <i class="iconfont">&#xe610;</i>
                    <span>云服务总览</span>
                    <i class="iconfont arrow-right">&#xe611;</i>
                    <i class="iconfont arrow-down">&#xe615;</i>
                </a>
            </h3>
            <ul class="sider-nav-s">
                <li class="current"><a th:href="@{/order/toOrder}">订单管理</a></li>
                <li><a href="order-detail.html">订单详情</a></li>
                <li><a href="order-handle.html">订单处理</a></li>
            </ul>
        </li>

        <li class="sider-nav-item">
            <h3>
                <a href="javascript:;">
                    <i class="iconfont">&#xe613;</i>
                    <span>云检测预警</span>
                    <i class="iconfont arrow-right">&#xe611;</i>
                    <i class="iconfont arrow-down">&#xe615;</i>
                </a>
            </h3>
            <ul class="sider-nav-s">
                <li><a href="#">WEB网站检测服务</a></li>
            </ul>
        </li>

        <li class="sider-nav-item">
            <h3>
                <a href="javascript:;">
                    <i class="iconfont">&#xe613;</i>
                    <span>云检测预警</span>
                    <i class="iconfont arrow-right">&#xe611;</i>
                    <i class="iconfont arrow-down">&#xe615;</i>
                </a>
            </h3>
            <ul class="sider-nav-s">
                <li><a href="#">WEB网站检测服务</a></li>
            </ul>
        </li>


    </ul>
</div>