<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!-- 引入公共页面的一些样式和脚本-->
<head th:include="admin/frame/common :: header"></head>
<body>

<!-- 顶部导航栏 -->
<div id="hd" th:include="admin/frame/nav :: #hd"></div>

<div id="bd">

    <div class="main-wrap-bk clearfix">
        <!-- 左边菜单栏 -->
        <div class="" th:replace="admin/frame/sider_bar_bk :: .sider-bar-bk"></div>
        <!-- 订单管理 -->
        <div class="bd-content-wrap" th:replace="admin/order/order_content_wrap.html :: .bd-content-wrap"></div>
    </div>

</div>


</body>
</html>