<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>订单管理</title>
    <link th:href="@{../static/css/style.css}" rel="stylesheet" />
    <link th:href="@{../static/css/backend.css}" rel="stylesheet" />
    <link th:href="@{../static/css/page/backend/order-manage.css}" rel="stylesheet" />
    <link th:href="@{../plugins/datepicker/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{../plugins/datepicker/css/bootstrap-datepicker.css}" rel="stylesheet" />
    <link th:href="@{../plugins/select2/css/select2.min.css}" rel="stylesheet" />
</head>
<body>
<div id="hd">

    <div class="header-nav">
        <div class="navigation-inner">
            <div class="logo">
                <h1>
                    <a href="mgt_console.html" class="logo-img">电商运营平台</a>
                </h1>
            </div>
            <div class="header-categories" id="nav-con">
                <ul class="menu">
                    <li class="menu-item selected">
                        <h2>
                            <a href="mgt_console.html">安全总览</a>
                        </h2>
                    </li>
                </ul>
            </div>


            <div class="user-message">
                <span class="label label-default">32</span>
            </div>


            <div class="login-user">
                <i class="iconfont">&#xe60d;</i>
                <a class="javascript:;">您好！系统管理员</a>
                <i class="iconfont">&#xe61c;</i>

                <div class="user-opt-panel">
                    <ul class="user-opt">
                        <li>
                            <a href="account_center.html">
                                <i class="iconfont">&#xe60d;</i>
                                <span class="pf-opt-name">账户信息</span>
                            </a>
                        </li>
                        <li>
                            <a href="order.html">
                                <i class="iconfont">&#xe60c;</i>
                                <span class="pf-opt-name">订单信息</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="iconfont">&#xe60f;</i>
                                <span class="pf-opt-name">结算信息</span>
                            </a>
                        </li>
                        <li class="div-line">
                            <a href="javascript:;">
                                <i class="iconfont">&#xe60e;</i>
                                <span class="pf-opt-name">资产信息</span>
                            </a>
                        </li>
                        <li class="div-line">
                            <a href="login.html">
                                <i class="iconfont">&#xe60b;</i>
                                <span class="pf-opt-name">退出</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

    <div id="bd">
        <div class="main-wrap-bk clearfix">
            <div class="sider-bar-bk">
                <div class="sider-bar-hd">
                    <i class="iconfont">&#xe616;</i>
                    <span>云服务</span>
                </div>
                <ul class="sider-nav">
                    <li class="sider-nav-item current">
                        <h3>
                            <a href="javascript:;">
                                <i class="iconfont">&#xe610;</i>
                                <span>云服务总览</span>
                                <i class="iconfont arrow-right">&#xe611;</i>
                                <i class="iconfont arrow-down">&#xe615;</i>
                            </a>
                        </h3>
                        <ul class="sider-nav-s">
                            <li class="current"><a href="order.html">订单管理</a></li>
                            <li><a href="order-detail.html">订单详情</a></li>
                            <li><a href="order-handle.html">订单处理</a></li>
                        </ul>
                    </li>

                    <li class="sider-nav-item">
                        <h3>
                            <a href="javascript:;">
                                <i class="iconfont">&#xe613;</i>
                                <span>云检测预警</span>
                                <i class="iconfont arrow-right">&#xe611;</i>
                                <i class="iconfont arrow-down">&#xe615;</i>
                            </a>
                        </h3>
                        <ul class="sider-nav-s">
                            <li><a href="#">WEB网站检测服务</a></li>
                            <li><a href="#">WEB网站检测服务</a></li>
                            <li><a href="#">WEB网站检测服务</a></li>
                            <li><a href="#">WEB网站检测服务</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="bd-content-wrap">
                <div class="bd-content">
                    <div class="title-left-line">账户中心</div>
                    <div class="basic-info">
                        <div class="info-title">基本信息<a href="javascript:;" class="modify">[修改]</a></div>
                        <div class="search-box">
                            <div class="form-kv clearfix">
                                <div class="form-kv-label">单位账号：</div>
                                <div class="form-content">
                                    <span>kie*****@163.com</span>
                                </div>
                            </div>
                            <div class="form-kv clearfix">
                                <div class="form-kv-label">单位名称：</div>
                                <div class="form-content">
                                    <span>市地税局</span>
                                    <i class="iconfont">&#xe652;</i>
                                    <span class="status">已认证</span>
                                </div>
                            </div>
                            <div class="form-kv clearfix">
                                <div class="form-kv-label">单位管理员：</div>
                                <div class="form-content">
                                    <span>张华明</span>
                                    <i class="iconfont">&#xe652;</i>
                                    <span class="status">已认证</span>
                                </div>
                            </div>
                            <div class="form-kv clearfix">
                                <div class="form-kv-label">联系电话：</div>
                                <div class="form-content">
                                    <span>0755-****5678</span>
                                </div>
                            </div>
                            <div class="form-kv clearfix">
                                <div class="form-kv-label">手机号码：</div>
                                <div class="form-content">
                                    <span>137****8564</span>
                                    <i class="iconfont">&#xe652;</i>
                                    <span class="status">已认证</span>
                                </div>
                            </div>
                            <div class="form-kv clearfix">
                                <div class="form-kv-label">邮箱地址：</div>
                                <div class="form-content">
                                    <span>kie*****@163.com</span>
                                    <i class="iconfont">&#xe652;</i>
                                    <span class="status">已认证</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="safe-setting">
                        <div class="info-title">安全设置</div>
                        <div class="search-box">
                            <div class="form-kv clearfix">
                                <div class="form-kv-label">登录密码：</div>
                                <div class="form-content clearfix">
                                    <p class="content-value">安全性高的密码可以使账号安全，建议您定期更换密码，设置一个包含字母，符号或数字中至少两种且长度超过6位的密码</p>
                                    <i class="iconfont">&#xe652;</i>
                                    <span class="status">已设置</span>
                                    <a href="javascript:;">修改</a>
                                </div>
                            </div>
                            <div class="form-kv clearfix">
                                <div class="form-kv-label">手机绑定：</div>
                                <div class="form-content clearfix">
                                    <p class="content-value">您已绑定了手机<span>137****6789，</span>您的手机号可以直接用户登录、找回密码</p>
                                    <i class="iconfont no">&#xe617;</i>
                                    <span class="status no">未设置</span>
                                    <a href="javascript:;">修改</a>
                                </div>
                            </div>
                            <div class="form-kv clearfix">
                                <div class="form-kv-label">邮箱绑定：</div>
                                <div class="form-content clearfix">
                                    <p class="content-value">您已绑定了 kie****@163.com</p>
                                    <i class="iconfont no">&#xe617;</i>
                                    <span class="status no">未设置</span>
                                    <a href="javascript:;">修改</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>

<script type="text/javascript" th:src="@{../static/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{../static/js/common.js}"></script>
<script type="text/javascript" th:src="@{../plugins/datepicker/js/bootstrap-datepicker.js}"></script>
<script type="text/javascript" th:src="@{../plugins/datepicker/locales/bootstrap-datepicker.zh-CN.min.js}"></script>
<script type="text/javascript" th:src="@{../static/js/jquery.pagination.js}"></script>
<script type="text/javascript" th:src="@{../plugins/select2/js/select2.min.js}"></script>
<script type="text/javascript">

    $("#starttime").datepicker({
        "language":"zh-CN",
        "format": 'yyyy-mm-dd'
    })
    $("#endtime").datepicker({
        "language":"zh-CN",
        "format": 'yyyy-mm-dd'
    })
    $(".date-pick .iconfont").click(function(){
        $(this).prev().trigger("focus");
    });

    $('.pagin').pagination(200, {
        current_page: 5,
        items_per_page: 10,
        callback: function(page, panel, evt){


        }
    });

    $('table').on('click', 'a', function() {
        $('.s-page').show();
    });

    $('.s-page').on('click', '.close-spage', function() {
        $('.s-page').hide();
    });

    $('select').select2();



</script>
</body>
</html>